{
	"read_db": {
		"server": "MYSQL_READ_HOSTNAME",
		"port": 3306,
		"database": "DummyApp",
		"username": "READ_USERNAME",
		"password": "READ_PASSORD"
	},
	"write_db": {
		"server": "MYSQL_READ_HOSTNAME",
		"port": 3306,
		"database": "DummyApp",
		"username": "WRITE_USERNAME",
		"password": "WRITE_PASSORD"
	},
	"logfile": "DummyApp.log",
	"port": 8888
}

